{% load i18n %}

<div class="list-group">
    <div class="list-group-item">
        <div class="list-group-item-heading float-start m-1">
        <h4>{% trans "Ingredients" %}</h4>
        <button type="button" class="btn btn-link"><span class="bi bi-plus-slash-minus"></span></button>

        </div>

        <ul class="list-group float-start">
            {% for ingredient in recipe.ingredients.all %}
                <li class="list-group-item">{{ ingredient }} {{ ingredient.amount.first.value }} {{ ingredient.amount.first.unit.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>