{% extends "cookbook_app/main.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container col-5">
        <div class=" d-flex justify-content-between align-items-center">
            <h1 class=>{% trans "Recipes" %}</h1>
            <form id="search-form" class="form-inline">
                {% csrf_token %}
                <div class="input-group">
                    <input id="search-input" class="form-control" type="search" name="recipes_query"
                           placeholder="Search recipes"
                           aria-label="Search">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                    <button class="btn btn-secondary ms-1" id="tags-toggle"><i class="bi bi-hash"></i></button>
                </div>
            </form>
            <a href="{% url "admin:cookbook_app_recipe_add" %}" target="_blank" class="btn btn-link">
                <span class="bi bi-file-earmark-plus fs-2"></span>
            </a>

        </div>
        <div id="tags-list" class="d-none">
            {% include 'cookbook_app/tags_search.html' with tags=all_tags %}
        </div>
        <div id="recipe-list">
            {% include "cookbook_app/recipes_list.html" %}
        </div>
    </div>
    <script>
        const endpoint_url = "{% url 'search_recipes' %}";
    </script>
    <script src="{% static 'js/recipes.js' %}"></script>
{% endblock %}