{% extends "cookbook_app/main.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/notice_card.css' %}">
{% endblock %}
{% block content %}
    <h1 class="display-3">{{ recipe.name }}</h1>

    {#    TODO: Create nice web page for recipe#}
    Recipe

    <ol class=" list-group list-group-numbered">
        {% for step in recipe.steps.all %}
            <li class="list-group-item">{{ step }}</li>
        {% endfor %}
    </ol>

    <div class="row">
        <div class="col-md-4 col-sm-6 content-card">
            <div class="notice-card-shadow">
                <div class="notice-card card-information">
                    <div class="content">
                        <p class="description">{{ recipe.note }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

