{% extends "cookbook_app/main.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container col-5">
        <div class=" d-flex justify-content-between align-items-center">
            <h1 class=>{% trans "Recipes" %}</h1>
            <form id="search-form" class="form-inline">
                <div class="input-group">
                    <input id="search-input" class="form-control" type="search" name="recipes_query"
                           placeholder="Search recipes"
                           aria-label="Search">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                </div>
            </form>
            <a href="{% url "admin:cookbook_app_recipe_add" %}" target="_blank" class="btn btn-link">
                <span class="bi bi-file-earmark-plus fs-2"></span>
            </a>

        </div>
        <ul id="recipe-list" class="list-group">
            {% for recipe in recipes %}
                <a class=" list-group-item d-flex justify-content-between align-items-center list-group-item-action text-decoration-none"
                   href="{% url 'recipe' recipe.pk %}"><span>{{ recipe.name }}</span>

                    <button type="button" class="btn btn-link"
                            onclick="window.open('{% url "admin:cookbook_app_recipe_change" recipe.id %}', '_blank')">
                        <span class="bi bi-pencil"></span></button>
                </a>
            {% empty %}
                <p>{% trans "No recipes found." %}</p>
            {% endfor %}

        </ul>
    </div>

    <script>
        // Handle search form submission via AJAX
        const searchForm = document.getElementById("search-form");
        const searchInput = document.getElementById("search-input");
        const recipeList = document.getElementById("recipe-list");

        searchForm.addEventListener("submit", function (event) {
            event.preventDefault();
            const query = searchInput.value;

            // Send AJAX request to the server
            fetch("{% url 'search_recipes' %}?query=" + encodeURIComponent(query))
                .then(response => response.json())
                .then(data => {
                    recipeList.innerHTML = '';
                    if (data.length === 0) {
                        recipeList.innerHTML = "<p>No recipes found.</p>";
                    } else {
                        data.forEach(recipe => {
                            const recipeItem = document.createElement('a');
                            recipeItem.classList.add("list-group-item", "d-flex", "justify-content-between", "align-items-center", "list-group-item-action", "text-decoration-none");
                            recipeItem.href = `/recipe/${recipe.pk}`;
                            recipeItem.innerHTML = `<span>${recipe.name}</span>
                                <button type="button" class="btn btn-link"
                                        onclick="window.open('/admin/recipe/${recipe.id}/change', '_blank')">
                                    <span class="bi bi-pencil"></span>
                                </button>`;
                            recipeList.appendChild(recipeItem);
                        });
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}